@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

body {
    background: #57b3ff;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.541);
}

img {
    width: 100px;
    height: ;
}

#seltab{
    margin: 18px;
}

.caixa1 {
    margin-left: 5px;
    padding: 10px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.671);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;

}